body {
    background: linear-gradient(to bottom, #b2beb5 -51%, #ffffff 61%);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    min-height: 450px;
}

a {
    color: #020202;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: black;
    margin-top: 4rem;
    height: 200px;
    color: yellow;
}

footer>div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.content {
    min-height: 450px;
    margin: 0 auto;
    align-self: center;
}

h1 {
    text-align: center;
}


/* login page styling */

.login {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
    margin-top: 12%;
    border: 2px #5c3317 solid;
    background: white;
}

.login>h3 {
    background: #5c3317;
    padding: 17px;
    margin-top: 0px;
    color: white;
}

.login>p {
    text-align: center;
    color: red;
}

.login>form {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
}

.login>form>input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

.login>form>button {
    width: 30%;
    border-radius: 4px;
    padding: 10px;
    margin: 1rem auto;
    color: black;
    background-color: whitesmoke;
}


/* create customer page styling */

.create-customer {
    display: flex;
    flex-direction: column;
}

.header {
    background: linear-gradient(to bottom, #808081 -82%, #000000 73%);
    color: white;
    padding: 0 15rem;
}

.header>h1>span {
    color: yellow;
}

.create-customer>h1 {
    color: blue;
}

.headercolor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: yellow;
    color: black;
    /* padding: 1rem 2rem 1rem */
}

.create-customer>div>div>ul>li {
    padding-right: 1rem;
    float: left;
    list-style: none;
    height: 1rem;
}

.create-customer>div>div>ul>li>ul {
    list-style: none;
    padding: 0px;
    display: none;
}

.create-customer>div>div>ul>li>ul>li {
    padding: 1.25rem 0 0.75rem 0;
    background-color: yellow;
    text-align: center;
    position: relative;
    z-index: 1;
}

.create-customer>div>div>ul>li:hover>ul {
    display: block;
}

.requ {
    color: red;
}

.create-customer>.body {
    align-self: center;
}

input {
    width: 100%;
    padding: 8px 8px;
    margin: 4px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

#listBox {
    width: 100%;
    padding: 8px 8px;
    margin: 4px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

#secondlist {
    width: 100%;
    padding: 8px 8px;
    margin: 4px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

#mydiv1 {
    display: none;
}

#mydiv2 {
    display: none;
}

.btn {
    width: 125px;
    color: yellow;
    background: black;
}

form {
    margin: auto;
}

.updatec>table {
    margin: auto;
}

.intabdetail {
    margin-left: 1rem;
}

td {
    height: 2.5rem;
}