<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    <title>Create Customer</title>
</head>

<body>
    <div class="create-customer">
        <div class="header">
            <h1>FedChoice</h1>
            <div>
                <span>Home</span>
                <span>Customer Management</span>
                <span>Account Management</span>
                <span>Status Details</span>
                <span>Account Operations</span>
                <span>Logout</span>
            </div>
        </div>
        <div class="body">hi</div>
        <div class="footer">hi</div>
    </div>


</body>

</html>