<!-- Page to search customer -->

{% extends "layout.html" %} {% block content %}
<h1>Customer Search</h1>

<form action="/customersearch" method="post">
    <table>
        <tr>
            <td>
                <label for="ssn-id">Enter SSN Id</label><span class="requ">*</span>
            </td>
            <td>
                <input type="text" id="ssn-id" name="ssn-id">
            </td>
        </tr>
        <tr>
            <td colspan="2">OR</td>
        </tr>
        <tr>
            <td>
                <label for="cust_id">Enter Customer Id</label><span class="requ">*</span>
            </td>
            <td>
                <input type="text" id="cust-id" name="cust-id">
            </td>
        </tr>
    </table>
    <button type="submit">View</button>
</form>

{% endblock %}
