{% extends "layout.html" %} {% block content %}
<h1>Select Customer</h1>

<table style="border-collapse: collapse;border: 1px solid black;">
    <tr style="border: 1px solid black;">
        <th style="border: 1px solid black;">SSN ID</th>
        <th style="border: 1px solid black;">CustomerID</th>
        <th style="border: 1px solid black;">Customer Name</th>
        <th style="border: 1px solid black;">Address</th>
        <th style="border: 1px solid black;">City</th>
        <th style="border: 1px solid black;">State</th>
        <th style="border: 1px solid black;">Update</th>
    </tr>
    {% for user in userDetails %}
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black;"> {{user[0]}} </td>
        <td style="border: 1px solid black;"> {{user[1]}} </td>
        <td style="border: 1px solid black;"> {{user[2]}} </td>
        <td style="border: 1px solid black;"> {{user[4]}} </td>
        <td style="border: 1px solid black;"> {{user[5]}} </td>
        <td style="border: 1px solid black;"> {{user[6]}} </td>
        <td style="border: 1px solid black;">
            <form action="/update_customer" method="post">
                <input name="id" value="{{user[0]}}" type="hidden">
                <button name="update" type="submit">Update</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}