{% extends "layout.html" %} {% block content %}
<h1>Customer Details</h1>
<table border=1 style="border-collapse: collapse;">
    <tr>
        <th>SSN ID</th>
        <th>CustomerID</th>
        <th>Customer Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Delete</th>
    </tr>
    {% for user in userDetails %}
    <tr>
        <td> {{user[0]}} </td>
        <td> {{user[1]}} </td>
        <td> {{user[2]}} </td>
        <td> {{user[4]}} </td>
        <td> {{user[5]}} </td>
        <td> {{user[6]}} </td>
        <td>
            <form action="/delete_customer" method="post">
                <input name="id" value="{{user[0]}}" type="hidden">
                <button name="Delete" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}