<!-- Page to withdraw money -->

{% extends "layout2.html" %} {% block content %}

<h1>Withdraw Money</h1>
<form method="POST" action="/withdraw">
    <table>
        <tr>
            <td>Customer ID:</td>
            <td>{{userDetails[0][0]}}</td>
            <input name="id" value="{{userDetails[0][0]}}" type="hidden">
        </tr>
        <tr>
            <td>Account ID:</td>
            <td>{{userDetails[0][1]}}</td>
        </tr>
        <tr>
            <td>Account Type:</td>
            <td>{{userDetails[0][2]}}</td>
        </tr>
        <tr>
            <td>Balance:</td>
            <td>{{userDetails[0][3]}}</td>
        </tr>
        <tr>
            <td>Withdraw Amount:</td>
            <td><input type="text" id="withdraw" name="withdraw" required></td>
        </tr>
    </table>

    <input class="btn" type="submit" value="Submit">
</form>

{% endblock %}
